[submodule ".vim/bundle/Python_mode"]
	path = .vim/bundle/Python_mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/Python_Jedi"]
	path = .vim/bundle/Python_Jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/Webapi"]
	path = .vim/bundle/Webapi
	url = https://github.com/mattn/webapi-vim
[submodule ".vim/bundle/Gist"]
	path = .vim/bundle/Gist
	url = https://github.com/mattn/gist-vim
[submodule ".vim/bundle/Linediff"]
	path = .vim/bundle/Linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule ".vim/bundle/Exchange"]
	path = .vim/bundle/Exchange
	url = https://github.com/tommcdo/vim-exchange.git
