## Ignore the whole home directory
*
## Expect what we care about
!.vimrc
!.vim/*

!.tcshrc
!.tcsh/*
!.tcsh/bin/*

!.screenrc
!.screen/*

!.ctags
!texmf/*
## ignore all the vim undo file
.vim/undo/*
tags
*.pyc
*.cache
